.modal {
  display: none;

  @media (min-width: 1500px) {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);

    cursor: zoom-out;

    &__content {
      border: 4px solid #fff;
      border-radius: 10px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      width: 50%;
      transform: translateY(50%);

      &-image {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
